<% include ./partials/header %>
<% include ./partials/beerpartial %>
<% include ./partials/navBar %>

<div class="container">
  <div class="beer-header-div">
    <h1 id='beerheader'></h1>
  </div>
  <div class="beer-image-div">
    <img src="" alt="" id="beerimg">
  </div>

  <div class="beer-comments">
    <h3>Like this beer? Add a comment and save it to your profile.</h3>
      <div class="comment-area">
        <textarea id='review' class="comment-box" name="textarea" rows="3" cols="40" placeholder="Write a comment..."></textarea>
      </div>
    <br>
      <div class="button-like">
        <button class="like">LIKE
        </button>
      </div>
  </div>

   <div class="fellow-likers">
    <h2>Fellow <span class="beer-name-fellow-users"></span> lovers:</h2>
     <ul id="usersList" class='row'></ul>
  </div>

</div>

<script src="../javascripts/beer.js"></script>
<% include ./partials/footer %>
