<% include ./partials/header %>
<% include ./partials/homepartial %>
<% include ./partials/navBar %>


<div class='container'>
  <div class="row">
    <div class="list-of-home-beers">
      <div id="recentbeers">
        <h3 id='recentlyliked'>MOST LIKED BEERS</h3>
          <div class="beerlikes"></div>
      </div>
    </div>
  </div>
</div>

<div class="search-button">
  <a href="/search">
    <button class="search-home">
      SEARCH FOR BEER
    </button>
  </a>
</div>

<br>
<br>
<br>
<br>


<script src="/javascripts/front_page.js" type="text/javascript" charset="utf-8" async defer></script>
<% include ./partials/footer %>
