<% include ./partials/header %>
<% include ./partials/loginpartial %>
<% include ./partials/navBar %>

<div class="container">
  <section class="maincontent">
    <h1 id='loginh1'> LOGIN TO YOUR GOODSPIRITS ACCOUNT:</h1>
    <hr>
    <p> </p>

  <div class="wrapper">
  <form action="/login" method='post' class="login" >
    <input type="text" name="username" placeholder="USERNAME" id="username"/>
    <input type="password" name="password" placeholder="PASSWORD" id="password"/>
    <button id="loginbutton">
      <span class="state">LOGIN</span>
    </button>
  </form>
  </div>
</div>


<% include ./partials/footer %>
