<% include ./partials/header %>
<% include ./partials/searchpartial %>
<% include ./partials/navBar %>

<div class="container">

    <h2 class='search'>SEARCH FOR A BEER</h2>

  <section class="maincontent">
    <div class="search-bar">
    <form>
     <input type='text' id='searchForBeer' name="search" placeholder='SEARCH...'>
    </form>
      </div>

  <div class="beer-list-div">
    <div id="beerList" class='row'>
    </div>
  </div>

    </ul>
  </section>
</div>

<script src="../javascripts/beerSearch.js"></script>
<% include ./partials/footer %>
