a {
  color: white;
  text-decoration: none !important;
}

.headerbox {
  width: 800px;
  margin: auto;
}

.headerlinks {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 25px;
}

#logo {
  height: 190px;
  background-color:#333745;
}

#gs-logo {
  height: 150px;
  margin: 18px 10px 10px 25px;
  float: left;
}

.nav-links {
  display: inline;
}

.nav-link-indiv {
  display: inline;
  padding: 10px;
  color: white;
  font-family: 'Questrial', sans-serif;
}

.nav-link-indiv a:hover {
  border-top: 2px solid #EA2E49;
  border-bottom: 2px solid #EA2E49;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-link-indiv a:active {
  border-top: 2px solid #EA2E49;
  border-bottom: 2px solid #EA2E49;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}


.tag-div {
  float: right;
  margin-top: 70px;
}

.tagline {
  color: white;
  padding-top: 0px;
  font-family: 'Righteous', cursive;
}

.links-div {
  float: right;
  margin-top: 30px;
  font-family: 'Righteous', cursive;
  font-size: 18px;

}


img {
  max-width: 200px;
  margin: 2px 0px 0px 500px;
  padding: 20px;
}

ul {
  list-style: none;
  text-decoration: none;
}

#usersList{
  margin-left: 75px;
  font-size: 25px;
  color: #FE4B28;
  text-decoration: none;
  padding-bottom: 15px;
}

.well {
  background-color: #0596D5;
  color: white;
  width: 300px;
  text-align: center;
 /* margin: 1px 1px;*/
 }

 a {
  color: white;
  font-weight: 600;
  font-size: 15px;
}

a:hover {
  color: #24D560;
}

h1 {
  margin-top: 40px;
  color: #0596D5;
  /*font-weight: 600px;*/
  font-size: 70px;
}

h2 {
  margin-top: 40px;
  color: #0596D5;
  font-weight: 600px;
  font-size: 30px;
  margin-bottom: 15px;
}

button.like {
  width: 200px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: white;
  margin-bottom: 20px;
  border: 2px solid #24D560;
  border-radius: 10px;
}

button.like:hover {
  background-color: #24D560;
  cursor: pointer;
}

p {
  font-size: 15px;
}
