a {
  color: white;
  text-decoration: none !important;
}

.headerbox {
  width: 800px;
  margin: auto;
}

.headerlinks {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 25px;
}

#logo {
  height: 190px;
  background-color:#333745;
}

#gs-logo {
  height: 150px;
  margin: 18px 10px 10px 25px;
  float: left;
}

.nav-links {
  display: inline;
}

.nav-link-indiv {
  display: inline;
  padding: 10px;
  color: white;
  font-family: 'Questrial', sans-serif;
}

.nav-link-indiv a:hover {
  border-top: 2px solid #EA2E49;
  border-bottom: 2px solid #EA2E49;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-link-indiv a:active {
  border-top: 2px solid #EA2E49;
  border-bottom: 2px solid #EA2E49;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}


.tag-div {
  float: right;
  margin-top: 70px;
}

.tagline {
  color: white;
  padding-top: 0px;
  font-family: 'Righteous', cursive;
}

.links-div {
  float: right;
  margin-top: 30px;
  font-family: 'Righteous', cursive;
  font-size: 18px;
}

.beer-header-div {
  width: 900px;
  margin:auto;
}

#beerheader {
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color: #333745;
  text-align: center;
}

.beer-image-div{
  width: 215px;
  margin: auto;
}

#beerimg {
  max-width: 200px;
  padding: 20px;
  text-align: center;
}

ul {
  list-style: none;
  text-decoration: none;
}

.beer-comments {
  height: 250px;
  background-color: #77C4D3;
  padding-top: 5px;
  padding-left: 20px;
  border-radius: 15px;
}

.beer-comments h3 {
  color: white;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 26px;
}

.comment-area {
  width: 650px;
  margin: auto;
}

.comment-box {
  width: 650px;
  border: 2px solid #333745;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}

.button-like {
  width: 175px;
  margin: auto;
}

#usersList{
  margin-left: 75px;
  font-size: 25px;
  color: #FE4B28;
  text-decoration: none;
  padding-bottom: 15px;
}

.well {
  background-color: #0596D5;
  color: white;
  width: 300px;
  text-align: center;
 /* margin: 1px 1px;*/
 }

user-list-div a {
  color: white;
  font-size: 20px;
}

a:hover {
  color: #EA2E49;
  font-weight: bold;
}

.fellow-likers {
  width: 800px;
  margin: auto;
}

h1 {
  margin-top: 40px;
  color: #0596D5;
  /*font-weight: 600px;*/
  font-size: 70px;
}

.fellow-likers h2 {
  margin-top: 40px;
  color: #333745;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

.user-list-div {
  float: left;
  width: 200px;
  margin-right: 20px;
  border: 1px solid white;
  color: white;
  background: #77C4D3;
  margin-top: 20px;
  font-family: 'Questrial', sans-serif;
  padding: 20px;
  height: 130px;
  font-size: 18px;
  border-radius: 10px;
  padding-top: 28px;
}

.user-list-div:nth-of-type(odd) {
    background: #333745;
}

button.like {
  width: 150px;
  height: 60px;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  background-color: #EA2E49;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 10px;
  color: white;
}

button.like:hover {
  background-color: white;
  color: #EA2E49;
  cursor: pointer;
  border: 3px solid #EA2E49;
}

p {
  font-size: 15px;
}

.beer-name-fellow-users {
  font-weight: bold;
  color: #EA2E49;
  border-bottom: 2px solid #EA2E49;
}

::-webkit-input-placeholder {
   color: #333745;
}
