a {
  color: white;
  text-decoration: none !important;
}

.headerbox {
  width: 800px;
  margin: auto;
}

.headerlinks {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 25px;
}

#logo {
  height: 190px;
  background-color:#333745;
}

#gs-logo {
  height: 150px;
  margin: 18px 10px 10px 25px;
  float: left;
}

.nav-links {
  display: inline;
}

.nav-link-indiv {
  display: inline;
  padding: 10px;
  color: white;
  font-family: 'Questrial', sans-serif;
}

.nav-link-indiv a:hover {
  border-top: 2px solid #EA2E49;
  border-bottom: 2px solid #EA2E49;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-link-indiv a:active {
  border-top: 2px solid #EA2E49;
  border-bottom: 2px solid #EA2E49;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}


.tag-div {
  float: right;
  margin-top: 70px;
}

.tagline {
  color: white;
  padding-top: 0px;
  font-family: 'Righteous', cursive;
}

.links-div {
  float: right;
  margin-top: 30px;
  font-family: 'Righteous', cursive;
  font-size: 18px;

}

section.maincontent {
  margin-top: 30px;
}


.search {
  margin-top: 40px;
  color: #333745;
  font-size: 35px;
  font-family: 'Righteous', cursive;
  text-align: center;
}

#searchForBeer {
  margin-top: 10px;
  width: 300px;
  display: flex;
  background-color: #EA2E49;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  margin-bottom: 20px;
  height: 55px;
  font-size: 20px;
}

.well {
  background-color: #0596D5;
  color: white;
    text-align: center;
}

a {
  color: white;
  font-weight: 600;
  font-size: 17px;
}


.hideOnLoad{
  display:none;
}

.individual-beer:hover button.hideOnLoad{
  display:inline;
  color:white;
  height: 30px;
  width: 60px;
  font-family: 'Righteous', cursive;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 5px;
}

.individual-beer:hover button.hideOnLoad:hover {
  display:inline;
  color:#EA2E49;
  height: 30px;
  width: 60px;
  font-family: 'Righteous', cursive;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 5px;
  background-color: white;
}

button {
  height: 20px;
  font-size: 10px;
  background-color: #EA2E49;
  color: white;

}

.submit-review {
  height: 25px;
  position: relative;
  bottom: 50px;
  left: 15px;
  border-radius: 5px;
  background-color: #24D560;
}

.showOnClick {
}

.comment-box {
  color: black;
}

.hideOnLoad {
  margin-left: 5px;
}

.search-bar {
  width: 300px;
  margin: auto;
  text-align: center;
}

#beerList {
  width: 1100px;
  margin: auto;
}

input {
  color: white;
}

.beer-list-div {
  width: 1100px;
  margin: auto;
}

.individual-beer {
  float: left;
  width: 200px;
  margin-right: 20px;
  border: 1px solid white;
  color: white;
  background: #77C4D3;
  margin-top: 20px;
  font-family: 'Questrial', sans-serif;
  padding: 20px;
  height: 130px;
  font-size: 18px;
  border-radius: 10px;
  padding-top: 35px;
}

.individual-beer:nth-of-type(odd) {
    background: #333745;
}

.individual-beer a:hover {
  color: #EA2E49;
}

::-webkit-input-placeholder {
   color: white;
}




